<?xml version='1.0' encoding='utf-8'?>
<plugin id="org.demo.myWelcome" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>myWelcome</name><js-module name="myWelcome" src="www/myWelcome.js"><clobbers target="cordova.plugins.myWelcome" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="myWelcome"><param name="android-package" value="org.demo.myWelcome.myWelcome" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/styles.xml" target-dir="res/values" /></platform></plugin>